@media only screen and (max-width: 480px) {

    /* black div that contains all the text and content  */
    .content-wrapper{
      width:70%;
      height: 100vh;  
    }

    .fv h6{
    
      width:100%;
      top:56%;
      font-size: 0.3em;
    }

 
  }