@media only screen and (max-width: 960px) {
    .fv h1{   
        font-size:3.5em;
      }

      .fv h6{
        
        width:100%;
        font-size: 0.8em; 
        top: 60%;
          
      }

      /* #caretDown_icon{
        transform: scale(0.8);
        transform-origin: left;
        position: absolute;
        bottom:0;
      } */
}